/* GLOBAL STYLE*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Roboto Condensed", sans-serif;
  color: #717171;
}

::selection {
  background-color: #ec7532;
  color: white;
}
/*  line style */
.line::after {
  content: "";
  width: 0;
  height: 2px;
  background: linear-gradient(to right, #fbbd61, #ec7532);
  display: block;
  box-shadow: 0 0 20px 0 #fbbd61;
  transition: 0.5s;
}
.navbar-nav .line:hover::after {
  width: 100%;
}

.line.active::after {
  width: 100%;
}

/* HEADER  STYLE */
header {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}
header p {
  font-size: 20px;
  font-weight: 700;
}
.navbar-brand h2 {
  color: white;
  letter-spacing: 3px;
}
.navbar-brand h2 i {
  color: #ff9248;
  font-size: 50px;
}
#formNavBar .navbar-nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.navbar-nav .nav-item {
  letter-spacing: 5px;
  font-size: 20px;
}
.navbar-nav .nav-link {
  color: white;
  letter-spacing: 3px;
  line-height: 0.8em;
  padding: 20px 24px;
}

/* SWAP FORM  */
.send-title {
  color: whitesmoke;
}
.swapForm {
  height: 100%;
  background-image: url(../images/bg.jpg);
  background-position: center;
  background-size: cover;
}
.swapForm .form-caption {
  position: relative;
  top: 55%;
  left: 41%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.swapForm .form-caption .form-description p:first-of-type {
  color: #fbbd61;
  font-size: 0.875rem;
  letter-spacing: 2px;
  margin: 0;
  animation-delay: 0.5s;
}

.swapForm .form-caption h2 {
  font-size: 3.25rem;
  letter-spacing: 3px;
  margin-bottom: 10px;
  color: white;
}

/* FORM STYLE  */
.crypto-form-container {
  position: relative;
}

.crypto-form {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  color: white;
  padding: 20px;
  border-radius: 8px;
}

.crypto-form .form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #555;
  border-radius: 0;
  color: white;
}

.crypto-form .form-control:focus {
  box-shadow: none;
  border-color: #fff;
}

.crypto-select {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 20px;
  padding: 3px;
}

.exchange-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2rem;
  transform: translate(-50%, -50%);
  color: orange;
  z-index: 10;
}
.exchange-icon:hover {
  color: #fbbd61;
  transition: 0.5;
  cursor: pointer;
}

/* BUTTON STYLE  */
.btn-connect button {
  width: 80%;
  padding: 12px 24px;
  border: none;
  border-radius: 30px;
  font-size: 0.8rem;
  letter-spacing: 4px;
  color: white;
  background: linear-gradient(to right, #fbbd61, #ec7532);
  position: relative;
  overflow: hidden;
  outline: none;
}
.btn-connect button:hover {
  color: white;
}
.btn-connect button::before {
  content: "";
  width: 110%;
  height: 100%;
  display: block;
  background-color: #ec7532;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  /* before hover */
  transform: skewX(30deg) translateX(-110%);
  transition: 0.5s;
}
.btn-connect button:hover::before {
  transform: skewX(30deg) translateX(-10px);
}
.btn-connect button span {
  position: relative;
  z-index: 2;
}
